.underlined {
  border-bottom: 2px solid palegreen;
}

.small {
  font-size: smaller;
}

.producto {
  width: 300px;
  background-color: rgb(43, 43, 138);
  color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 30px;
}

button{
  background-color: black;
  color: white;
  padding: 0.5rem;
}

.adv{
  color: red;
  font-weight: bold
}
